# ROS 2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.pyc
.venv/

# IDE
.vscode/
.idea/

# Data / output
data/*
!data/.gitkeep

# Third-party build output
third_party/**/build/
third_party/**/install/

# OS
.DS_Store
Thumbs.db

third_party/install/
apps/unity/local/
